body {
  font-family: 'Roboto', sans-serif;
  background-color: #ededed;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 25px;
  margin-bottom: 20px;
  background-color: #ffe600;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: xx-large;
  color: #000000
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#searchSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

input {
  width: 400px;
  padding: 12px;
  margin-right: 8px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

button {
  padding: 12px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ffe600;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #f3d600;
}

.product {
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-top: 10px;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

img {
  max-width: 100%;
  height: auto;
}